.sidebar-menu {
    width: 250px;
    font-family: 'Inter', sans-serif;
    border-right: 1px solid #e0e0e0;
    padding-top: 20px;
}
.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-item a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #000000;
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
}
.menu-item:hover {
    background-color: #f5f5f5;
    text-decoration: underline;
}