spring:
  application:
    name: ${SPRING_APPLICATION_NAME}

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO}
    show-sql: ${HIBERNATE_SHOW_SQL}
    properties:
      hibernate:
        format_sql: ${HIBERNATE_FORMAT_SQL}

server:
  port: ${SERVER_PORT}

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

logging:
  level:
    root: ${LOG_LEVEL_ROOT}
    io.github.gpego1.primegarage: ${LOG_LEVEL_APP}
