.App-header {
    border-bottom: 1px solid #e5e7eb;
    padding: 1rem 2rem;
    position: relative;
    top: 0;
    z-index: 50;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Work Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #2e323b;
    font-size: 1.1rem;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.search-item {
    margin-right: auto;
    margin-left: 2rem;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
}

.search-box .input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 0.95rem;
    width: 220px;
}

.search-btn {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #6b7280;

}

.cart a {
    font-size: 1.5rem;
}
