.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 32px;
    gap: 32px;
    margin-top: 40px;
    max-width: 1100px;
    border-radius: 16px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-left: 200px;
    margin-top: -100px;
}

.byd-logo {
    width: 80px;
}

.banner-text p {
    font-size: 16px;
    color: #aaa;
    margin: 10px;
}

.banner-text h1 {
    font-size: 56px;
    line-height: 1.1;
    margin: 6px 0;
    text-transform: uppercase;
    color: #ffffff;
}

.banner-text a {
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
}

.imagem-produto {
    max-width: 420px;
    width: 100%;
    object-fit: contain;
    margin-left: -20px;
}

